<%- content_for(:title) {"Listing recipes"} -%>
<%- content_for(:header) do %>
  <%- if policy(Recipe).create? %>
    <%= link_to new_recipe_path, class: 'btn btn-success pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> New recipe
    <% end %>
  <%- end %>
<%- end %>

<%= render 'table' %>
