<li>
  <%= numeric_to_mixed_number ingredient.amount %>
  <%= ingredient.unit.pluralize(ingredient.amount) %>
  <%= ingredient.name %><%= ", #{ingredient.notes}" if ingredient.notes.present? %>
</li>
