<%- content_for(:title) { @food.name } -%>
<%- content_for(:actions) do %>
  <div class="pull-right">
    <%= render 'action_buttons', model: @food, back_path: foods_path %>
  </div>
<%- end %>

<div class="row">
  <%- if @food.image.present? %>
    <%= image_tag @food.image.url(:medium), alt: '', class: 'pull-right' %>
  <%- end %>

  <%= simple_format @food.description %>
</div>
