<li>
  <%= simple_format step.directions %>
  <small>
    <%= link_to 'Edit', edit_recipe_step_path(@recipe, step) %> |
    <%= link_to 'Remove', recipe_step_path(@recipe, step), method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>
</li>