<li class="list-group-item" data-id="<%= step.id %>">
  <%= simple_format step.directions %>
  <span class="grippy" aria-hidden="true"></span>
  <%= render 'recipes/action_links', model: step %>
</li>
