/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "selectize";
@import "selectize.bootstrap3";
@import "footable.bootstrap";

@import "welcome";
@import "ingredients";
@import "recipes";


/* Form tweaks */
input, input.form-control,
select, select.form-control,
textarea, textarea.form-control { font-size: 16px; }

.selectize-dropdown, .selectize-input, .selectize-input input { font-size:16px; }

.navbar input.form-control { font-size: 14px; }

.resource-form { margin-bottom:20px; }

.heading-menu > .dropdown { display:inline-block; vertical-align:text-bottom; }
.heading-menu > h2, .heading-menu > h3 { display:inline-block; }

/* Decrease header height on mobile */
@media only screen and (max-width : 480px) {
  .page-header { margin-top:0; }
}

.table-thumb { margin-right: 8px; }

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 40px;
}
