// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#directions-list small { margin-top:-10px; margin-bottom:10px; display:block; }
.recipe-image { margin-bottom:20px; }
