// Place all the styles related to the welcome controller here.

.home .navbar { margin-bottom:0; }
.jumbotron form { margin-top:20px; }

@media only screen and (max-width : 767px) {
  .jumbotron form a { width:100%; }
}
