<% flash.each do |type, message| %>
  <%- if flash_message_types.include? type %>
    <div class="alert <%= alert_class_for(type) %> fade in" role="alert">
      <button class="close" data-dismiss="alert">×</button>
      <%= flash.key?('html_safe') ? message.html_safe : message %>
    </div>
  <%- end %>
<% end %>
